@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-optical-sizing: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 290px repeat(3, minmax(100px, 1fr));
    grid-template-rows: 50px 100px repeat(4, auto);
    width: 100%;
    height: 100vh;
}

.sidebar {
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 50px);
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    align-items: center;
    background-color: rgb(36, 36, 36);
}

.sidebar img, .sidebar svg {
    width: 32px;
    height: 32px;
    margin-left: 30px;
    margin-right: 15px;
}
.sidebar p {
    margin-top: 6px;
}

.sidebar > div {
    display: inline-flex;
}

.top-header p {
    width: 100%;
    height: 20px;
    margin-right: 50px;
    font-weight: 700;
}

.top-header > input {
    width: 100%;
    height: 26px;
    border: none;
    color: black;
    padding: 7px 14px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgb(233, 233, 233);
    outline: none;
}

.top-header {
    display: grid;
    grid-template-columns: 40px 700px repeat(3, minmax(10px, 1fr));
    grid-template-rows: 50px;
    grid-auto-flow: column;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    justify-items: center;
    align-items: center;
    height: fit-content;
}

.top-header > svg:first-child {
    margin-left: 15px;
}

.top-header > svg:nth-child(3) {
    margin-left: 150px;
}

.top-header > img:nth-child(4) {
    align-self: center;
}

.down-header {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    justify-items: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.greetings {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.greetings p {
    margin-top: 4px;
    font-size: 1.16rem;
}

.greetings p:first-child {
    font-size: 1rem;
    font-weight: 600;
}
.greetings p:nth-child(2) {
    font-weight: 900;
    font-size: 1.15rem;
}

.greetings + div {
    justify-items: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-areas: 
    "projects projects announce"
    "projects projects ..."
    "projects projects trending";
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, 100px);
    grid-column: 2 / 5;
    grid-row: 3 / 7;
    background-color: rgb(233, 233, 233);
    padding: 65px 25px;
}

.projects {
    grid-area: projects;
}

.content .project {
    border-left: 7px solid;
    border-left-color: rgb(255, 187, 0);
    padding: 20px;
    background-color: white;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.content .projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(210px, 1fr));
    gap: 30px;
}

.projects .title {
    font-weight: bold;
    font-size: 1.2em;
}

.projects .text {
    font-size: .9rem;
    color: rgb(100, 100, 100);
}

button {
    background-color: rgb(46, 46, 46);
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.buttons {
    display: inline-flex;
    gap: 30px;
}

.announcements {
    grid-area: announce;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    border-radius: 10px;
    margin: 0 30px;
    padding-left: 30px;
    z-index: 1;
    height: 360px;
    background-color: white;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}

.announcements div {
    display: grid;
    padding: 15px 0px;
    grid-template-columns: auto;
    text-align: left;
}

.announcements div p:first-child {
    font-weight: 900;
    font-size: .8rem;
}
.announcements div p:nth-child(2) {
    font-size: .8rem;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: break-word;
}

.trending {
    grid-area: trending;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(4, 65px);
    grid-auto-flow: row;
    border-radius: 10px;
    padding-left: 30px;
    height: 301px;
    background-color: black;
    color: white;
    margin: 0 30px;
    position: relative;
    top: 190px;
    padding: 30px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}

.trending > div {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

.usertext {
    position: relative;
    left: 60px;
    bottom: 50px;
    font-size: .9rem;
    width: max-content;
}